<footer class="footer">
	<small>
		<a href="http://student.coolsea.net">大魏老師的資訊課程</a> by Coolsea
	</small>	

	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://student.coolsea.net">News</a></li>
		</ul>
	</nav>
</footer>